@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@200,700,400,600,300,1,500&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=general-sans@701,200,500,301,201,1,300,2,601,600,401,501,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: MonumentExtended;
  src: url('/fonts/me/MonumentExtended-Regular.otf');
  font-weight: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
}


.swapButton {
  background: linear-gradient(45deg, transparent 6px, #F64E00 0) bottom left, linear-gradient(-135deg, transparent 6px, #F64E00 0) top right;
  background-repeat: no-repeat;
  background-size: 100% 50%;
}


.cutoutcornersbox {
  background: linear-gradient(45deg, transparent 10px, #ffffff20 0) bottom left, linear-gradient(-135deg, transparent 10px, #ffffff20 0) top right;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  padding: 1px;
}

.cutoutcornersboxright {
  background: linear-gradient(-135deg, transparent 10px, #ffffff10 0) top right;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1px;
}

.positionTable {
  background: linear-gradient(45deg, #FF8A00 10px, #ffffff10 0) bottom left, linear-gradient(-135deg, transparent 10px, #ffffff10 0) top right;
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

.tableStyle {
  background: linear-gradient(45deg, transparent 10px, #ffffff10 0) bottom left, linear-gradient(-135deg, transparent 10px, #ffffff10 0) top right;
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

.corneredBox2 {
  background: linear-gradient(45deg, transparent 10px, #2B2E32 0) bottom left, linear-gradient(-135deg, transparent 10px, #2B2E32 0) top right;
  background-repeat: no-repeat;
  background-size: 100% 50%;
}